.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/OrderManagementUI.Ang/CopilotIndices/17.12.38.29086/SemanticSymbols.db
.vs/OrderManagementUI.Ang/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
.vs/OrderManagementUI.Ang/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
.vs/OrderManagementUI.Ang/FileContentIndex/d349f8ef-29c5-4975-beaf-3bd22f64a230.vsidx
.vs/OrderManagementUI.Ang/v17/.wsuo
.vs/OrderManagementUI.Ang/v17/DocumentLayout.backup.json
.vs/OrderManagementUI.Ang/v17/DocumentLayout.json
myangularapp.client/package-lock.json
myangularapp.client/obj/Debug/package.g.props
myangularapp.client/obj/Debug/myangularapp.client.esproj.FileListAbsolute.txt
myangularapp.client/obj/Debug/myangularapp.client.esproj.CoreCompileInputs.cache
myangularapp.client/package-lock.json
